/* General Styles */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: monospace, monospace;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    text-align: center;
}

/* Game Board Styles */
.board {
    display: grid;
    grid-template-columns: auto auto auto;
}

.board > * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid #f3f3f3;
}

.board > *:hover {
    background: #2f2f2f;
    cursor: pointer;
}

.board-top {
    border-top: none;
}

.board-left {
    border-left: none;
}

.board-right {
    border-right: none;
}

.board-bottom {
    border-bottom: none;
}

/* Responsive Sizing */
@media screen and (max-width: 768px) {
    .title {
        font-size: 36px;
    }

    .board {
        width: 225px;
        height: 225px;
    }

    .board > * {
        width: 75px;
        height: 75px;
    }
}

@media screen and (min-width: 769px) {
    .title {
        font-size: 48px;
    }

    .board {
        width: 300px;
        height: 300px;
    }

    .board > * {
        width: 100px;
        height: 100px;
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    overflow: auto;
    color: white;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
